[submodule "0x0A-python-inheritance/0x0A-python-inheritance/tests"]
	path = 0x0A-python-inheritance/0x0A-python-inheritance/tests
	url = https://github.com/nelsfichera/holbertonschool-higher_level_programming.git
